#content {
position: absolute;
overflow: hidden;
margin: 0;
width: 100%;
height: 100%;
left: 0;
top:0;
font-size: 4vh;
}
#presentStartButton {
display: none;
}
h1 {
margin: 0;
padding: 0.5em;
color: white;
background-color: black;
}
li {
margin-left: 0.2em;
}
