#header {
display:none;
}

body {
font-family: Times, serif;
font-size: 15;
background-color: white;
color: #333;
}

pre code tt {
font-family: monospace;
font-size: 15;
}

#content {
margin: 1em;
width: 100%;
}

a {
color: black;
}

.pagebreak {
page-break-before: always;
}

.fullvertpage { height: 8in; }
.fullhorzpage { width: 6in; }

.rotate270 {
-webkit-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-o-transform: rotate(270deg);
-ms-transform: rotate(270deg);
transform: rotate(270deg);
}

.printonly { display: block; }

.entrySpace { padding-top: 2em; display: inline-block; border-bottom: 1px solid black; }
.nameSpace { width:20em; }
.boxSpace { width:5em; }
.dateSpace { width:8em; }

