/*
This file is part of the CourseUp project.
http://courseup.org

(c) Micah Taylor
micah@kixortech.com

See http://courseup.org for license information.
*/

* {
color: #333;
}


h3, h4 {
margin-bottom: -0.06em;
}

a {
background: none;
color: #966;
}

body {
font-family: Helvetica, Arial, sans-serif;
margin: 0px;
padding-bottom: 20px;
}

#content {
margin: 1em;
width: 40em;
}

table {
border: 1px solid #000;
border-collapse: collapse;
}

tr {
vertical-align: top;
}

td {
padding: 0.15em;
padding-bottom: 0.5em;
border: 1px solid #aaa;
}

li {
margin-left: -1em;
padding-right: 0.5em;
margin-bottom: 0.5em;
}

video {
width: 100%;
}

@keyframes glowRed {
	from{color:black;}
	to{color:red;}
}

@-webkit-keyframes glowRed {
	from{color:black;}
	to{color:red;}
}

.startHere {
	font-weight: bold;
	animation-name: glowRed;
	-webkit-animation-name: glowRed;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation-direction: alternate;
}

.rubric {
font-size: smaller;
}

.classTopicTrv {
border-left: 2px solid #aaa;
}

.assign { background-color: #cfa; }
.due { background-color: #fcc; }
.tableHead { font-weight: bold; }

.classNumber { text-align: center; }
.classDate { text-align: center; }

.scheduleTable { font-size: smaller; }
.scheduleDate { font-weight: bold; }
.scheduleTopics{
border-bottom: 1px solid #888;
margin-bottom: 0.5em;
}

.weekCount {
left: 11em;
position: absolute;
font-size: 40pt;
color: #ccc;
}

.breakMark {
padding: 1em 0 1em 0;
margin: -1em 0 -1em 0;
display: inline-block;
width: 100%;
text-align: center;
background-color: #afa;
font-weight: bold;
}

#header {
background: #555;
padding: 0em;
}

#header a{
position: relative;
float: left;
margin-left: 1em;
margin-right: 1em;
padding: 1em;
color: #ddd;
background: #555;
}

#header a:hover{
background: #222;
}

.noBullets {
list-style-type: none;
}

h1>a, h2>a, h3>a, h4>a, 
a>h1, a>h2, a>h3, a>h4 {
color: #333;
}

.quizInput {
	vertical-align: text-top;
}

#hidePastSessions ~ #pastSessionContent {
}

#hidePastSessions:checked ~ #pastSessionContent {
display:none;
}

#hidePastSessions:checked ~ #sessionToggleLabelB {
visibility: hidden;
}

#hidePastSessions {
display:none;
}

#pastSessionContent {
background-color: #eee;
opacity: 0.90;
}

.sessionToggle {
/*display: inline-block;*/
padding: 2px 10px 2px 10px;
margin: 2px;
color: #555;
border: 1px outset #aaa;
border-radius: 3px;
background-color: #f8f8f8;
background: linear-gradient(#fff, #ddd);
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.sessionToggle:hover {
color: #666;
border: 1px outset #ccc;
background-color: #e8e8e8;
background: linear-gradient(#fff, #e8e8e8);
}

.sessionToggle:active {
left: 0.5px;
top: 1px;
position: relative;
/* transform: scale(0.98);*/
color: #444;
border: 1px inset #aaa;
background-color: #ccc;
background: linear-gradient(#fff, #ddd);
}


#toggleCalendarFormat ~ #calendarFormat {
}

#toggleCalendarFormat:checked ~ #Calendar1 {
display:none;
}

#toggleCalendarFormat:not(:checked) ~ #Calendar2 {
display:none;
}

#toggleCalendarFormat {
display:none;
}

#formatToggleLabel:active {
	position: relative;
	margin: 2px;
	left: 1px;
	top: 1px;
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* padding: 2px 10px 2px 10px; */
}

#formatToggleLabel {
	padding: 2px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* the following lines make it so text doesn't highlight when the button is pressed */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/* color: #666; */
	/* border: 1px solid #aaa; */
	/* padding: 2px; */
	/* margin: 2px; */
}

#formatToggleLabel:hover {
	color: #666;
	padding: 2px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(#fff, #e8e8e8);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* border: 1px outset #ccc; */
	/* background-color: #e8e8e8; */
}

#sessionToggleLabel:active {
	position: relative;
	left: 1px;
	top: 6px; /* should be (div nonactive val + 1) */
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* padding: 2px 10px 2px 10px; */
	/* margin: 2px; */
}

#sessionToggleLabel {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	position: relative;
	top: 5px;
	bottom: 5px;
	/* the following lines make it so text doesn't highlight when the button is pressed */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/* color: #666; */
	/* padding: 2px; */
	/* margin: 2px; */
	/* border: 1px solid #aaa; */
}

#sessionToggleLabel:hover {
	padding: 2px 10px 2px 10px;
	margin: 2px;
	color: #666;
	background-color: #e8e8e8;
	background: linear-gradient(#fff, #e8e8e8);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* border: 1px outset #ccc; */
}

#formatToggleLabel {
	padding: 2px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* the following lines make it so text doesn't highlight when the button is pressed */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/* color: #666; */
	/* border: 1px solid #aaa; */
	/* padding: 2px; */
	/* margin: 2px; */
}

#formatToggleLabel:hover {
	color: #666;
	padding: 2px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(#fff, #e8e8e8);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* border: 1px outset #ccc; */
	/* background-color: #e8e8e8; */
}

#sessionToggleLabel:active {
	position: relative;
	left: 1px;
	top: 6px; /* should be (div nonactive val + 1) */
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* padding: 2px 10px 2px 10px; */
	/* margin: 2px; */
}

#sessionToggleLabel {
	display: inline-block;
	padding: 2px 10px 2px 10px;
	margin: 2px;
	background: linear-gradient(#fff, #ddd);
	border: 1px outset #aaa;
	border-radius: 3px;
	position: relative;
	top: 5px;
	bottom: 5px;
	/* the following lines make it so text doesn't highlight when the button is pressed */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/* color: #666; */
	/* padding: 2px; */
	/* margin: 2px; */
	/* border: 1px solid #aaa; */
}

#sessionToggleLabel:hover {
	padding: 2px 10px 2px 10px;
	margin: 2px;
	color: #666;
	background-color: #e8e8e8;
	background: linear-gradient(#fff, #e8e8e8);
	border: 1px outset #aaa;
	border-radius: 3px;
	/* border: 1px outset #ccc; */
}


.textC1 { color: #66c2a5; }
.textC2 { color: #fc8d62; }
.textC3 { color: #8da0cb; }

.printonly { display: none; }


.entrySpace { padding-top: 2em; display: inline-block; border-bottom: 1px solid black; }
.nameSpace { width:20em; }
.boxSpace { width:5em; }
.dateSpace { width:8em; }


#presentStartButton span{
font-size: 2em;
}

.calWidth {
	width: 75px;
}

#newCalendarDiv {
	margin: 10px;
}