RewriteEngine on

#if content.md exists at request path
# and the uri does not have resource= in it
# then add ?resource=NAME to uri
RewriteCond %{REQUEST_FILENAME}content.md -f
RewriteCond %{REQUEST_URI} !/.*resource=.*/
RewriteRule ^(.*) index.php?resource=$1 [L]
