#This file is part of the CourseUp project.
#http://courseup.org
#
#(c) Micah Taylor
#micah@kixortech.com
#
#See http://courseup.org for license information.

RewriteEngine on

#disallow source control paths
RedirectMatch 404 \.git 
RedirectMatch 404 \.svn 
RedirectMatch 404 \.subversion 

#if already has content.md or index.md, remove
# it and let next rule fix it
RewriteCond %{REQUEST_URI} !/.*resource=.*/
RewriteRule ^(.*)index.md $1

RewriteCond %{REQUEST_URI} !/.*resource=.*/
RewriteRule ^(.*)content.md $1

#if content.md exists at request path
# and the uri does not have resource= in it
# then add ?resource=NAME to uri
RewriteCond %{REQUEST_FILENAME}index.md -f
RewriteCond %{REQUEST_URI} !/.*resource=.*/
RewriteRule ^(.*) index.php?resource=$1 [L]

RewriteCond %{REQUEST_FILENAME}content.md -f
RewriteCond %{REQUEST_URI} !/.*resource=.*/
RewriteRule ^(.*) index.php?resource=$1 [L]
